@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");
@import url("avatar/avatar.css");
@import url("alert/alert.css");
@import url("badge/badge.css");
@import url("button/button.css");
@import url("card/card.css");
@import url("responsive-image/responsive-image.css");
@import url("form/form.css");
@import url("modal/modal.css");
@import url("navbar/navbar.css");
@import url("responsive-grid/responsive-grid.css");

html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  /* colors */
  --purple: #5b21b6;
  --lightpurple2: #f5f3ff;
  --lightpurple: #a78bfa;
  --lightpurple1: #7c3aed;
  --darkpurple1: #4c1d95;
  --light-grey: #f9fafb;
  --light-grey1: #e5e7eb;
  --lightgrey2: #9ca3af;
  --midgrey: #6b7280;
  --darkgrey: #111827;
  --textgrey: #374151;
  --lightgreen: #ecfdf5;
  --darkgreen: #059669;
  --darkgreen1: #065f46;
  --lightyellow: #fffbeb;
  --darkyellow: #f59e0b;
  --darkyellow1: #d97706;
  --orange: #ff5722;
  --lightred: #fef2f2;
  --darkred: #dc2626;
  --darkred1: #b91c1c;
  --lightblue: #eff6ff;
  --darkblue: #2563eb;
  --darkblue1: #1d4ed8;
  --facebook: #3b5998;
  --twitter: #3cf;
  --linkedin: #0072b1;
  --instagram: linear-gradient(#e96443, #904e95);
  color: var(--textgrey);
}

.hidden-overflow {
  overflow: hidden;
}

/* common style classes */
li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
  outline: none;
}

p {
  line-height: 1.75rem;
  text-align: justify;
}

.txt-highlight {
  background: var(--light-grey1);
  padding: 0.25rem;
  font-weight: bold;
}

button {
  cursor: pointer;
  text-align: center;
  outline: none;
  font-family: "Montserrat", sans-serif;
}

.rm {
  margin-block-start: 0;
  margin-block-end: 0;
}

.br {
  border-radius: 50%;
}

.pointer {
  cursor: pointer;
}

.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.inline {
  display: inline;
}

.rm-ul-padding {
  padding-inline-start: 0;
}

.circle-border {
  color: inherit;
  border: 2px solid;
  border-radius: 50%;
  padding: 0.25rem;
}

.sm {
  width: 3rem;
  height: 3rem;
}

.md {
  width: 4rem;
  height: 4rem;
}

.lg {
  width: 5rem;
  height: 5rem;
}

.mb {
  margin: 1rem 0;
}

/* navbar */
.navbar {
  background: var(--purple);
  color: var(--light-grey);
  padding: 0.25rem 1rem;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
}

.hamburger-menu__line {
  display: block;
  width: 2rem;
  height: 3px;
  background: var(--light-grey);
  margin-bottom: 5px;
  border-radius: 5px;
  transition: all 500ms linear;
  transform-origin: 5px 2px;
}

.click .hamburger-menu__line:first-child {
  transform: rotate(45deg);
}

.click .hamburger-menu__line:nth-child(2) {
  opacity: 0;
}

.click .hamburger-menu__line:nth-child(3) {
  transform: rotate(-45deg);
}

.navbar__list {
  display: inline;
  margin-right: 1rem;
}

.navbar__list a {
  padding: 0.5rem;
}

.left .navbar__list a:hover {
  background: var(--lightpurple1);
}

/* .navbar + ul li a:hover {
  background: var(--lightpurple1);
} */
.responsive-img {
  max-width: 100%;
}

/* sidebar */
.wrapper {
  display: relative;
}

.menu__mobile-none {
  display: none;
}

.menu__mobile {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 4rem;
  height: 100vh;
  width: calc(100% - 1rem);
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
  background: var(--light-grey);
  animation: dropdowngrowin 0.5s ease-in-out;
}

.navbar .social-btns {
  display: none;
}

.sidebar {
  display: none;
}

@keyframes dropdowngrowin {
  0% {
    width: 20rem;
    left: 0;
    opacity: 0;
  }
  100% {
    width: calc(100% - 1rem);
    left: 50%;
    opacity: 1;
  }
}

.sidebar__item {
  padding: 0.65rem 2rem;
  position: relative;
  /* text-align: center; */
}

.sidebar__item:hover {
  background: var(--lightpurple2);
}

.current-page {
  font-weight: 1000;
  background: var(--lightpurple1);
}

.current-item {
  background: var(--lightpurple2);
  color: var(--purple);
  font-weight: 1000;
}

/* page wrapper */
.page-wrapper {
  margin-top: 4.75rem;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.carbon-container {
  max-width: 100%;
  overflow: hidden;
  margin-top: 2rem;
}

.carbon-img {
  object-fit: cover;
}

.individual-item {
  margin-bottom: 1rem;
  margin-right: 1rem;
}

.social-btns li a i {
  color: #fff;
}

.footer {
  background: var(--purple);
  color: var(--light-grey);
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 7rem;
  width: 100%;
}

.footer .socials {
  width: 70%;
}

.footer .socials button {
  background: #fff;
}

.footer .socials button:hover {
  background: var(--light-grey1);
}

/* desktop */

@media only screen and (min-width: 750px) {
  .sidebar {
    display: flex;
    flex-direction: column;
    position: fixed;
    width: 20vw;
    min-height: 100vw;
    border-right: 1px solid var(--light-grey1);
  }

  .menu__mobile {
    display: none;
  }

  .page-wrapper {
    margin-left: 20vw;
  }

  .hamburger-menu {
    display: none;
  }

  .navbar .social-btns {
    display: flex;
  }
}
